body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #c4c4c4;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.topLine {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
  background-color: #4d6160;
}

.display-3 {
  font-weight: bolder;
  color: #ffffff;
  text-decoration: underline;
}

.lead {
  font-weight: bolder;
  font-size: 20px;
}

.subHead1 {
  color: #efd9b4;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 2px solid transparent;
  height: 100px;
}

.hour {
  border-top: 3px dashed #000000;
  border-bottom: 2px solid #000000;
  background-color: #4d6160;
  color: #ffffff;
  padding-top: 10px;
}

.past {
  background-color: #898989;
  color: #ffffff;
}

.present {
  background-color: #c04d47;
  color: #ffffff;
}

.future {
  background-color: #3a933a;
  color: #ffffff;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #15568f;
  color: white;
}

.saveBtn i:hover {
  font-size: 35px;
  transition: all 0.2s linear;
}

#dataSaved {
  font-size: 25px;
  font-weight: bolder;
  color: #ffffff;
}
